*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #D9F3F4;
}
.app_back{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin:2rem auto 0;
    border-radius: 10px;
    padding:30px;
}
.app_back h1,.quiz h2,.quiz,.answerBackground{
    background-color: #fff;
}
.app_back h1{
    font-size:30px;
    font-weight: 600;
    color: #001e4d;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    text-align: center;
}

.quiz{
    padding: 20px 0;
}
.quiz h2{
   font-size: 20px;
   color: #001e4d;
   font-weight: 600;
}
.btn{
    background-color: #fff;
    color:#222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding:10px;
    margin: 10px 0;
    text-align: left;
    border-radius:5px;
    cursor: pointer;
    transition: all .3s;
}
.btn:hover:not([disabled]) {
    background-color: #333;
    color:#fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
  background: #222;  
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 5px;
  cursor: pointer; 
  display: none;
}
.correct{
    background: rgba(6, 130, 43, 0.698);
    color: #fff;
}
.incorrect{
    background: rgb(230, 43, 43);
    color: #fff;
}
.head {
    width: 100%;
}
.head img{
    /* width: 100%;
    height: 200px; */
    margin-top:5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
    
}