@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap');
@import url('https://fonts.maateen.me/charu-chandan-3d/font.css');
/* Fonts Collections  */

/* Main Style Section  */
body{
    max-width: 1296px;
    min-height: 100vh;
    font-family: 'Tiro Bangla', serif;
    background-color:#D9F3F4;
    font-size: 12px;
}
.Eventmain{
    width:100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-gap: 20px;

}
.Eventhead {
    width: 100%;
    margin-bottom: 1rem;
}
.Eventhead img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
    
}
.event{
  
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-gap:50px 1rem;
    width: 80%;
    width: 850px;
    padding:1rem;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 5px;
     justify-content: center;
     justify-items: center;
     max-height: 13rem;
}
.event .event-img{
    overflow: hidden;
}
.event-img {
  width: 150px;
  height: 150px;
}
.event .event-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;

}
.event .event-title{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
  background-color: #fff;

}
.event-title h2{
    font-size:28px;
    color: #333;
    font-weight: bold;
    background-color: #fff;

     font-family: 'CharuChandan3D', sans-serif;
  

}
/* .event-visit-btn{
    height: 35px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size:18px;
    background-color: #08A64C;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.event-visit-btn {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  font-family: 'Josefin Sans', sans-serif;
  
  
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.event-visit-btn:hover,
.event-visit-btn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  cursor: pointer;
}

.event-visit-btn :active {
  background: var(--color);
  color: #d5ff00;
}
.event-infos{
  background-color: #fff;

}
.event-info{
    font-size:18px;
    color:  #333;
  background-color: #fff;

}
.event-title p{
    margin:0;
    margin-top: 5px;
    font-family: 'Tiro Bangla', serif;
  background-color: #fff;

}
.dateAndview{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 4rem; */
  justify-content: space-between;
  background-color: #fff;

}

.dateAndview p{
  font-family: 'Tiro Bangla', serif;
  font-size: 15px;
  background-color: #fff;

}

.dateAndview button{
    background-color: #fff;
  }


/* Responsive school Page here */
 @media(max-width:1138px){
    .school{
        
       
        grid-template-columns: 1fr;

        width: 90%;
       
    }
 }


/* @media(max-width:1016px){
    .main{
      align-items: flex-start;
      margin-left: 40px; 
      transition: all 0.50s ease;
    }
}

@media(max-width:920px){
    .main{
        align-items: center;
        margin-left: 0; 
      }
    .school{
        transition: all 0.50s ease;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
    .school-title,.school-img {
        width: 70%;
        } 
} */