@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #0b7446;
	--mainColorLight: #0d7e4d;
	--secondaryColor: #ff0015;
	--textColor: #020000;
}

.navheader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
  border-radius: 10px;
  position: fixed;
  width: 100%;
  max-width: 1140px;
  z-index: 1000;
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
 
}
nav{
  border-radius: 7px;
}
.logo img{
  height: 50px;
  width: 50px;
  /* object-fit:contain; */
}
.user-name p{
	font-weight:600;
	color: #0d7e4d;
	cursor: pointer;
}
.logout {
	font-weight:600;
	color: #ffffff;
	/* border: 1px solid #333; */
	padding: 0.3rem 0.5rem;
	border-radius: 0.3rem;
	background-color: #c70e0e;
	margin-right: 2px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.logout:hover{
	background-color: #ffffff;
	color: #020000;
	cursor: pointer;
	border: 0.5px solid red;
}
@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
